*{
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
   
}
header {
    text-align: center;

}

h1 {
    display: flex;
    justify-content: center;
}

.dropdown {
    background-color: rgb(184, 180, 180);
    
}

.button a {
    color: black;
    text-decoration: none;
}

.subClose .button {
    display: inline-block;
    
}
.subClose {
    display: flex;
    justify-content: space-between;
}

.bottom label {
    display: flex;
}

.buttons {
    display: inline-block;
    justify-content: center;
}

.newButton, .dropdown {
    margin: 10px;
}

ul {
    max-width: 900px;
    width: 80%;
    text-align: center;
    list-style-type: none;
    padding: 0 10px 0;
    margin: 0 auto 0;
    
}

.book {
    border: 1px solid black;
    margin: 10px 10px;
    padding: 7px;
    background-color: rgb(184, 180, 180);
}

.book button {
    float: right;
    display: inline;
    align-self: right;
  
}

fieldset {
    background-color: rgb(184, 180, 180);;
    display: flex;
    margin: 10px 0;
    
}

.description {
    height: 100px;
}

input {
    display: block;
    background-color: lightgrey;
}

.top {
    display: flex;
    flex-direction: column;
}

.bottom {
    display: flex;
    align-items: center;
}
.newForm{
    max-width: 100%;
    margin: 0 auto 0;
    text-align: center;
}
.formView {
    margin: 0 auto 0;
}
form {
    max-width: 900px;
    text-align: center;
    padding: 10px 0;

}

.top input{
    margin: 5px;
}
.bmTitle {
    display: flex;
    justify-content: space-around;
}
.bmControls{
display: flex;
justify-content: space-between;;
}

.hidden {
    display: none;
}

span {
    font-weight: bold;
}

/* phone screen */
@media screen and (min-width: 300px) {
    .bottom {
        font-size: 3vw;
    }
}

/*tablet screen*/
@media screen and (min-width: 500px) {
    .bottom {
        font-size: 1em;
    }
}

/*desktop screen*/
@media screen and (min-width: 900px) {
    .bottom {
        font-size: 1.2em;
    }
}